<template>
   <div>
       <div class="has-text-centered">
           <img src="/static/img/logo-williams.8e4414e.png" alt="Williams Logo"> 
           <p class="is-size-2  has-text-primary mt30">404</p> 
           <p class="is-size-2  has-text-primary mt30 mb30">Page not found</p> 
       <router-link to="/" class="button is-primary btn-complete has-text-semibold-18 mt20 is-active">
           Back to Home
       </router-link>
        </div>
   </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
