<template>
  <div class="container">
		<div class="faq-list">
      <template v-for="(i,index) in 5">
        <div @click="togglePanel($event)" ref="faq" class="faq-block" :class="{'is-active': selected}" :id="index">
          <div class="faq-block-title">
            Question {{i}}<img src="../../../static/img/icons/icon-right-arrow.svg" alt="image" class="down-arrow"> 
          </div>
          <div class="faq-block-content" style="display: none;">Lorem The is the answer to question 4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </div>
        </div>
      </template>
		</div>
		<div class="has-text-centered mt30">
			Didn’t find the answer you’re looking for?
			<a href="#" class="has-text-primary sf-pro-display-medium has-underline">Contact us</a>
		</div>
	</div>
</template>

<script>
import {eventBus} from '../../main';
export default {
  props: {
    pageTitle: {
      type: Boolean
    }
  },
  data() {
    return {
      selected: false,
      isShow: false
    }
  },
  methods: {
    togglePanel(event) {
        var app = this;
        if(!event.target.parentNode.classList.contains('is-active') && event.target.parentNode.classList.contains('faq-block')) {
          var x = document.getElementsByClassName("faq-block");
          [].forEach.call(x, function(el) {
            el.classList.remove("is-active");
          });
         event.target.parentNode.classList.add('is-active')
      } else {
        event.target.parentNode.classList.remove('is-active')
      }
    },
    toggle() {
      this.isShow = true;
    }
  },
  mounted() {
    eventBus.isShow(true)
  },
}
</script>

<style>

</style>
