<template>
  <div class="container">
		<div class="my-account-page">
			<div class="tab-wrapper">
				<div class="tabs is-boxed">
				  <ul>
				    <li class="tablinks is-active"  data-tab="profile" @click="openCity($event, 'profile')">
				      <a>
				       Profile
				      </a>
				    </li>
				    
				    <li class="tablinks" data-tab="gift-card"  @click="openCity($event, 'gift-card')">
				      <a>
				      	Gift Cards
				      </a>
				    </li>

				    <li class="tablinks" data-tab="cards"  @click="openCity($event, 'cards')">
				      <a>
				       Credit 
				       Cards
				      </a>
				    </li>
				  </ul>
				</div>
				<div id="profile" class="tabcontent is-active">
					<div class="columns is-multiline">
						<div class="column is-6-tablet is-4-desktop">
							<div class="field">
						  		<label class="label">First Name</label>
						  			<div class="control">
						    			<input class="input" type="text" placeholder="">
							  		</div>
							</div>
							<div class="field">
						  		<label class="label">Last Name</label>
						  			<div class="control">
						    			<input class="input" type="text" placeholder="">
							  		</div>
							</div>
							<div class="field">
						  		<label class="label">Email</label>
						  			<div class="control">
						    			<input class="input" type="email" placeholder="">
							  		</div>
							</div>
						</div>
						<div class="column is-6-tablet is-4-desktop">
							<div class="field">
						  		<label class="label">Phone</label>
						  			<div class="control">
						    			<input class="input" type="text" placeholder="">
							  		</div>
							</div>
							<div class="field">
						  		<label class="label">Date of Birth</label>
						  		<div class="columns is-mobile">
						  			<div class="column">
							  			<div class="control">
							    			<input class="input is-small" type="text" placeholder="DD">
								  		</div>	
						  			</div>
						  			<div class="column">
							  			<div class="control">
							    			<input class="input is-small" type="text" placeholder="MM">
								  		</div>	
						  			</div>
						  			<div class="column">
							  			<div class="control">
							    			<input class="input is-small" type="text" placeholder="YY">
								  		</div>	
						  			</div>
						  		</div>
							</div>
						</div>
						<div class="column is-6-tablet is-4-desktop">
							<div class="field">
								<div class="is-flex justify-content-between">
						  			<label class="label">Password</label>
						  			<a href="#" class="has-text-primary has-underline">Change Password</a>
						  		</div>
						  			<div class="control">
						    			<input class="input" type="password" placeholder="">
							  		</div>
							</div>
						</div>
					</div>
					<div class="save-button mt30">
						<a class="button is-uppercase is-primary btn-save is-lg ">Save Changes</a>
					</div>
				</div>
				
				<div id="gift-card" class="tabcontent">
					<h4 class="is-black-dark is-capitalized has-text-bold-16 mb30 has-text-centered-mobile">Your Credit/Debit Cards</h4>
					<div class="columns is-variable is-8-desktop is-multiline">
						<div class="column is-12-tablet is-6-desktop is-5-widescreen">
							<ul class="card-list">
								<li class="is-active">
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/willimas-card-icon.jpg" alt="image">
											</div>
											<div class="level-item">
												603571 123456 1234567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												$5.00
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/willimas-card-icon.jpg" alt="image">
											</div>
											<div class="level-item">
												603571 123456 1234567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												$5.00
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/willimas-card-icon.jpg" alt="image">
											</div>
											<div class="level-item">
												603571 123456 1234567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												$5.00
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="total-gift-balance">
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<p class="has-text-bold-16 is-black-dark">Total Balance:</p>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<p class="has-text-bold-16 has-text-primary">$15.00
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="mt30 mb30">
								<a href="#" class="has-text-bold-16 has-text-black is-capitalized">
									<span class="btn-pluse mr20">+</span>
									Add gift card
								</a>
							</div>
						</div>
						<div class="column is-12-tablet is-6-desktop is-7-widescreen">
							<div class="columns is-variable is-5-widescreen has-text-centered-mobile">
								<div class="column is-5-widescreen">
									<img src="../../../static/img/williams-card-large.png">

									<a class="button is-capitalized is-primary btn-save is-lg is-block mt25 ">Rloaded Card</a>
								</div>
								<div class="column is-7-widescreen">
									<div class="field">
										<label class="label">
											Gift Card
										</label>
										<p>
											603571 123456 1234567
										</p>
									</div>
									<div class="field">
										<label class="label">
											Balance
										</label>
										<p>
											$5.00
										</p>
									</div>

									<div class="field">
										<a href="#" class="has-underline has-text-primary">Remove Card</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="cards" class="tabcontent">
					<h4 class="is-black-dark is-capitalized has-text-bold-16 mb30 has-text-centered-mobile">Your Credit/Debit Cards</h4>
					<div class="columns is-variable is-8-desktop">
						<div class="column is-6-tablet is-5-desktop">
							<ul class="card-list">
								<li class="is-active">
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/icon-card-amex.svg" alt="image">
											</div>
											<div class="level-item">
												•••• •••• •••• 9567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												10/22
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/icon-card-visa.svg" alt="image">
											</div>
											<div class="level-item">
												•••• •••• •••• 9567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												10/22
											</div>
										</div>
									</div>
								</li><li>
									<div class="level is-mobile">
										<div class="level-left">
											<div class="level-item">
												<img src="../../../static/img/icons/icon-card-mc.svg" alt="image">
											</div>
											<div class="level-item">
												•••• •••• •••• 9567
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												10/22
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="mt30">
								<a href="#" class="has-text-bold-16 has-text-black is-capitalized">
									<span class="btn-pluse mr20">+</span>
									Add Credit/Debit Card
								</a>
							</div>
						</div>
						<div class="column is-6-tablet is-5-desktop is-hidden-mobile">
							<div class="card-info">
								<div class="level align-items-end mb30">
									<div class="level-left">
										<div class="level-item">
											<img src="../../../static/img/icons/icon-card-amex.svg" alt="image">
										</div>
										<div class="level-item card-number">
											<p class="has-text-left">Card Number</p>
											<p class="has-text-left">•••• •••• •••• 4567</p>
										</div>
									</div>
									<div class="level-right">
										<a href="#" class="has-text-primary has-underline">Remove Card</a>
									</div>
								</div>
								<div class="field">
							  		<label class="label">Name on Card</label>
						  			<div class="control">
						    			<input class="input" type="text" placeholder="Emily Miller">
							  		</div>
								</div>
								<div>
							  		
							  		<div class="columns is-variable is-3 is-mobile credit-card-info">
							  			<div class="column">
							  				<div class="field">
								  				<label class="label">Expires</label>
									  			<div class="control">
									    			<input class="input is-small" type="text" placeholder="MM/YY">
										  		</div>	
										  	</div>
							  			</div>
							  			<div class="column">
							  				<div class="field">
								  				<label class="label">CVV</label>
									  			<div class="control">
									    			<input class="input is-small" type="text" placeholder="2 - 3 digits">
										  		</div>	
										  	</div>
							  			</div>
							  			<div class="column">
							  				<div class="field">
							  					<label class="label">Postal Code</label>
									  			<div class="control">
									    			<input class="input is-small" type="text" placeholder="" value="M3T6Z8">
										  		</div>	
										  	</div>
							  			</div>
							  		</div>
								</div>
							</div>
						</div>
					</div>
					<div class="save-button mt30">
						<a class="button is-uppercase is-primary btn-save is-lg ">Save Changes</a>
					</div>
				</div>
			</div>
				
		</div>
	</div>
</template>

<script>
import {eventBus} from '../../main'
export default {
 mounted() {
    eventBus.isShow(true)
     
   
  },
  methods: {
     openCity(evt, cityName) {
       var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].className = tabcontent[i].className.replace(" is-active", "")
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" is-active", "");
        }

        document.getElementById(cityName).className += " is-active";
        evt.currentTarget.className += " is-active";
      }
  },
}
</script>

<style>

</style>
