<template>
  <div class="container">
		<!-- back button -->
		<section class="back-button-section">
			<div class="columns">
				<div class="column">
					<router-link to='/' class="button btn-white">
						<img class="btn-icon" src="../../../static/img/icons/icon-left-arrow.svg">Back to Order
					</router-link>
				</div>
			</div>
		</section>

		<!-- cart details block -->
		<transition name="fade" mode="out-in">
			<div key="empty" v-if="cartEmpty" class="has-text-centered ">
				 <img src="../../../static/img/logo-williams.png" alt="Williams Logo">
					<p class="is-size-4  has-text-primary mt30">Your cart is empty</p>
					<p class="mt20">You’re not picky. You just have discerning taste.</p>
					<router-link to="/" class="button is-primary btn-complete has-text-semibold-18 mt20">
							Order now
						</router-link>
			</div>
	
			<section  key="full" v-else class="cart-details">
				<div class="columns">
					<div class="column is-7-tablet">
						<!-- order details -->
						<div class="order-details">
							<h4 class="section-title title content-box">Pickup</h4>
							<div class="columns is-mobile order-address justify-content-between">
								<div class="column is-6-tablet">
									<div class="">
										<h4 class="title is-5">
											Zurich Life Building
										</h4>
										<p>
											400 University Avenue <br>
											(Simcoe Street between Queen and Dundas) <br>Toronto ON M5G 1S6, Canada
										</p>
									</div>
								</div>
								<div class="column is-6-tablet is-4-desktop has-text-right-mobile">
									<div class="is-inline-block-mobile has-text-left-mobile">
										<h4 class="title is-5">
											Pickup Time: 
										</h4>
										<div class="select is-width-sm">
											<select>
												<option>9:00 AM</option>
												<option>10:00 AM</option>
											</select>
										</div>
										<p class="help is-primary pickup-note">
													Must order at least 1 hour in advance.
										</p>
									</div>
								</div>

							</div>
						</div>
						<!-- item list -->
						<div class="item-list">
							<!-- item-block -->
								<div class="item-block"  v-for="(cartItem, index) in cartItems" :key=index>
									<div class="item-header">
										<div class="level is-mobile">
											<div class="level-left">
												<div class="level-item">
													<div class="quantity-no">
														{{index + 1}}
													</div>
													<h4 class="title">{{cartItem.product}}</h4>
												</div>
											</div>
											<div class="level-right">
												<div class="level-item">
													<p class="price">{{(cartItem.price * cartItem.qua).toFixed(2) | currency  }}</p>
												</div>
											</div>
										</div>
										<div class="description">
											{{cartItem.description}}
										</div>
									
									</div>
									<div class="item-footer">
										<div class="columns is-marginless is-mobile justify-content-between align-items-center">
											<div class="column is-paddingless">
												<!-- <p>Sku is: {{cartItem.sku}}</p> -->
													<number-control :qua=cartItem.qua :index=cartItem.sku @changeQua="addQua"></number-control>
											</div>
											<div class="column is-paddingless has-text-right">
												<a href="#" class="customize-link">
													Customize
												</a>
												<a @click="removeItem(index)" class="remove-link">
													Remove
												</a>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="redeem-control">
							<div class="content-box">
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<p class="title is-size-18">Redeem Points</p>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<p class="title is-size-18 has-text-primary">
												100 pts = $1.00
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="point-section"> 
									<input type="range" class="range" name="points" min="0" max="400">
									<div class="point-range">
										<span>0</span>
										<span>400</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-5-tablet">
						<div class="order-summary-block">
							<h4 class="section-title title content-box">Order Summary</h4>

							<div class="content-box">
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<p class="title has-text-semibold-18 is-black-dark">Add Promo Code</p>
										</div>
									</div>
								</div>
								<div class="field has-addons">
										<div class="control flex-grow-1">
											<input class="input" type="text" placeholder="Enter Code">
										</div>
										<div class="control">
											<a class="button is-primary btn-search">
												Add
											</a>
									</div>
								</div>
							</div>
							<div class="content-box tax-price">
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<span class="has-text-regular-18 is-black-dark">Subtotal</span>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<span class="has-text-regular-18 is-black-dark">{{subtotal.toFixed(2) | currency}}</span>
										</div>
									</div>
								</div>
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<span class="has-text-regular-18 is-black-dark">Rewards</span>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<span class="has-text-primary has-text-regular-18">- {{reward | currency}}</span>
										</div>
									</div>
								</div>
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<span class="has-text-regular-18 is-black-dark">Tax</span>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
										<span class="has-text-regular-18 is-black-dark">{{tax | currency}}</span>
										</div>
									</div>
								</div>
							</div>

							<div class="content-box total">
								<div class="level is-mobile">
									<div class="level-left">
										<div class="level-item">
											<p class="has-text-semibold-18 is-black-dark ">Total</p>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<p class="has-text-semibold-18 is-black-dark">{{ total.toFixed(2) | currency }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="content-box">
								<div class="field">
									<h4 class="title has-text-semibold-18 is-black-dark">
										Select Payment
									</h4>
									<div class="select is-width-full">
										<select>
											<option>•••• •••• •••• 4321</option>
											<option>•••• •••• •••• 4334</option>
										</select>
									</div>
								</div>
								<div class="field">
									<h4 class="title has-text-semibold-18 is-black-dark">
										Add Notes
									</h4>
									<textarea class="textarea" placeholder="250 characters limit"></textarea>
								</div>
							</div>

							<a @click="complete()" class="button is-primary btn-complete has-text-semibold-18">
								<span>
									Complete Order
								</span>
								<span>
									$10.20
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</transition>
	</div>
</template>

<script>
export default {
  data() {
    return {
			isAlertShow: false,
			reward: 1,
			tax: 1.5
    }
  },
  computed: {
    	cartItems() {
			return this.$store.getters.getCartproduct;
		},
		cartProduct() {
			return this.$store.getters.getCartItems;
		},
		subtotal() {
			var total = 0;
			this.cartItems.find(function(value, index) {
					total +=  value.price * value.qua;
			})
			return total;
		},
		total() {
			return (this.subtotal + this.tax) - this.reward

		},
		cartEmpty() {
			var cartItem = this.$store.getters.getCartproduct.length;
			if( cartItem > 0) {
				return false;
			}
			else {
				return true;
			}
			
		}
  },
	methods: {
		addQua (arrPosition, quaValue) {
			var tempCartProduct = [];
			var app = this;
			tempCartProduct =	this.cartProduct.find(function(value, index) {
				if (value.sku == arrPosition) {
						value['quantity'] = quaValue
						var passObj = {
							arrIndex: index,
							proValue: value
						}
						app.$store.dispatch('updateCartProduct', passObj)
				}
				// return value;
			});
		},
		removeItem (index) {
			this.$store.dispatch('removeCartItem', index)
			 this.isAlertShow = true;
			this.dangerNotify()			
		},
		hidden() {
			this.isAlertShow = false;
		},
		complete() {
			this.$router.push('/process')
		},
		dangerNotify() {
			this.$notify.open({content: 'Item removed', type: 'danger'});
		}
	},
	watch: {
	
	}

}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


</style>
