<template>
<div>
        <!-- Order From block -->
        <section class="section-order-location">
          <div class="wrapper">
            <div class="order-location">
              <p class="order-from">You are ordering from</p>
              <p  class="location-name">
                <router-link to="/">
                  <img src="../../../static/img/icons/icon-marker.svg" class="marker">
                  {{selectedLocation.location_name}}
                  <img src="../../../static/img/icons/icon-right-arrow.svg" class="right-arrow">
                </router-link>
              </p>
            </div> 
          </div>
        </section>

        <!-- Selected location store info -->
        <section class="order-location-details is-hidden-tablet-only is-hidden-mobile">
          <div class="container is-fullhd">
            <div class="columns">
              <div class="column is-6-mobile is-6-tablet is-5-desktop">
                <div class="columns justify-content-between">
                  <div class="column is-8">
                    <div class="is-flex">
                      <span class="mr20"><img src="../../../static/img/icons/icon-marker.svg" alt="Location Image"></span>
                      <div>
                        <h3 class="store-name">{{selectedLocation.location_name}}</h3>
                        <p class="store-address">{{selectedLocation.location_address}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="column is-4">
                    <div class="store-contact-info">
                      <h2 class="label">Contact</h2>
                       <template v-for="info in selectedLocation.location_contact">
                        <p>{{info.pno}}</p>
                        <p>{{info.email}}</p>
                       </template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-6-mobile is-6-tablet is-7-desktop">
                <div class="columns"> 
                  <div class="column is-2 ">
                    <div class="availability-status  has-text-right">{{selectedLocation.shop_status}}</div>
                  </div>
                  <div class="column is-10">
                    <ul class="work-hours">
                     <li v-for="info in selectedLocation.open_hours">
                        <span>{{info.day}}</span>
                        <span>{{info.time}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Tab Content -->
        <div  id="regular-menu-content" class="tabcontent is-active">		

          <!-- Menu Type Section -->
         <main-menu @changeItem="updateItem($event)" ></main-menu>
          
          <!-- Category Items Section -->
          <section class="category-items-block">
            <div class="container">
              <div class="columns is-variable is-7-widescreen is-5-desktop is-3-tablet is-0-mobile">
                <div class="column is-12-mobile is-7-tablet is-8-widescreen">
                  <!-- Menu Items List -->
                
                  <div class="columns is-multiline is-variable is-4">
                    <template v-for="productItem in productList">
                      <div class="column is-12-tablet is-12-desktop is-6-widescreen" >
                       <order-item :productData=productItem >
                         <template slot="item-name">{{productItem.product}}</template>
                         <template slot="item-desc">{{productItem.description}}</template>
                       </order-item>
                      </div>
                    </template>
                  </div>	
                </div>
                  
                <!-- Selected Product Block -->
                <transition name="fade">
                  <div id="sidePanel" class="column is-12-mobile is-5-tablet is-4-widescreen" v-if="itemSelected">
                      <div class="selected-item-block">
                        <div class="selected-item">
                          <div class="main-title">{{selectedItem.product}}
                            <a href="#" alt="Info" class="info-icon">
                              
                            <tooltip :content=selectedItem.product>
                                <img src="../../../static/img/icons/icon-info.svg" alt="info">
                            </tooltip>
                            </a>
                          </div>
                          <div class="item-details">
                            <div class="item-image">
                              <img :src=selectedItem.image alt="Product Image">
                            </div>
                            <div class="item-price-cal">
                              <span>{{selectedItem.price | currency}}</span>
                              <span>200 Cals</span>
                            </div>
                            <div class="item-desc">{{selectedItem.details}}</div>
                            
                            <div class=" item-size-quantity is-flex is-flex-mobile">
                              <!-- <div class="quantity-block">
                                <button class="button minus" value="-"><img src="../../../static/img/icons/icon-minus.svg" alt="Decrease Quantity"></button>
                                <div class="field mb0">
                                  <div class="control">
                                    <input v-model="quantity" class="input is-shadowless" type="number" value="1" min="1">
                                  </div>
                                </div>
                                <button class="button plus" value="+"><img src="../../../static/img/icons/icon-plus.svg" alt="Increase Quantity"></button>
                              </div> -->

                              <number-control  @changeQua="addQua" :qua=quantity></number-control>

                            </div>
                            
                          </div>

                          <a @click="addToCart()" class="button is-primary btn-complete has-text-semibold-18">
                            <span class="add-to-cart">Add to Cart</span>
                            <span class="price">{{selectedItem.price | currency}}</span>
                          </a>

                          <!-- Store Closed (Remove Display None to see it) -->
                          <a class="store-closed button btn-complete has-text-semibold-18">
                            <span>Store is Closed</span>
                          </a>
                        </div>
                      </div>
                  </div>
                </transition>
              </div>
            </div>
          </section>
        </div>
  </div>
</template>

<script>
import mainMenu from '../header/main-menu';
import orderItem from '../product/product';
import {eventBus} from '../../main';
import NProgress from 'nprogress';
export default {
  data() {
    return {
      productList: [],
      itemSelected: false,
      quantity: 0,
      isAlertShow: false,
      getCurrentCategory: null,
      selectedItem: {
        product: "",
        price: "",
        description: "",
        details: "",
        image: "",
        sku: ""
      }
    }
  },
  components: {
     'mainMenu' : mainMenu,
     'orderItem' : orderItem
  },
  methods: {
    addToCart () {
      var cartItem = {
        sku: this.selectedItem.sku,
        quantity: this.quantity
      }
      this.$store.dispatch('addCartProduct', cartItem)
      this.primaryNotify();
    },
    addQua (arrPosition, quaValue) {
      this.quantity = quaValue;
    },
    hidden() {
      this.isAlertShow = false;
    },
    updateItem (value) {
       NProgress.start();
        var app = this;
       if(value != null) {
          setTimeout(() => {
            this.$store.dispatch('setCategory', value)
            var catId = this.$store.getters.getCurrentCategory
            var allProduct = this.$store.getters.getProducts
           
            app.itemSelected = false
            var updateProduct = [];

             var x = document.getElementsByClassName("menu-item");
              [].forEach.call(x, function(el) {
                el.classList.remove("is-selected");
              });

              allProduct.find(function(value, index) {
                if (value.catId === catId) {
                  updateProduct.push(value)
                }
              });
              if(updateProduct.length > 0) {
                app.productList = updateProduct;
              } 
              NProgress.done()
          }, 500);
       } else {
         setTimeout(() => {
           app.itemSelected = false
            var x = document.getElementsByClassName("menu-item");
            [].forEach.call(x, function(el) {
              el.classList.remove("is-selected");
            });
            this.$store.dispatch('setCategory', null)
            this.productList = this.$store.getters.getProducts;
            NProgress.done();
         }, 500);
       }
    },
    primaryNotify() {
      this.$notify.open({
        content: 'Item added to cart.', 
        type: 'primary'
      });
    },
   
  },
  created() {
    const app = this;
    eventBus.$on('itemSelect', (data, isShow)=> {
         let obj = app.productList.find(item => item.sku === data);
          app.selectedItem = obj;
          app.itemSelected = isShow;
          app.quantity = 1
    })
  },
  computed: {
     selectedLocation() {
       const id = this.$route.query.id;
       const currentLocation = this.$store.getters.getLocations.find(item => item.location_id == id)
       return currentLocation;
    }
  },
  beforeCreate() {
    const locationId = this.$route.query.id;
    if(locationId == null || locationId.length < 1) {
      this.$router.push('/')
    }
  },
  mounted() {
    const locationId = this.$route.query.id;
    eventBus.isHide(false)
    this.$store.dispatch('setCategory', null)
    this.productList = this.$store.getters.getProducts;
  }
}
</script>

<style scoped>
.selected-item .item-details .quantity-block {
  width: 100%;
  max-width: unset;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
