<template>
  <div class="container">
		<div class="processing-block box has-text-centered mt50">
			<img src="../../../static/img/logo-williams.png" alt="image">
			<p class="has-text-bold-18 is-black-dark mt50">Order #1234</p>
			<p class="has-text-semibold-18 is-black-dark mt30">Thankyou for your order!</p>
			<p class="mt15 is-black-dark">Your order has been confirmed.</p><p>
				
			</p><p>
        Please check  your email for order details.</p>

			<p class="has-text-primary has-text-semibold-18 mb10 mt50">100</p>

			<p class="has-text-semibold-18 is-black-dark">Points Earned</p>
		</div>
	</div>
</template>

<script>
export default {
 
}
</script>

<style>

</style>
