<template>
  <div class="container">
		<div class="processing-block box has-text-centered mt50">
			<div class="spin-loader mb40"></div>
			<p class="has-text-semibold-18 is-black-dark">Processing Order</p>
			<p class="mt15 is-black-dark">Please wait as we process your order.</p>
		</div>
	</div>
</template>

<script>
export default {
   mounted() {
    ('mounted')
    var app = this;
    setTimeout(() => {
      this.$router.push('/complete')
    }, 2000);
  },
}
</script>

<style>

</style>
