<template>
  <div class="location-wrapper">
    <!-- Section: Search Bar -->
      <section class="has-background-black location-search-bar">
        <div class="container is-fluid">
          <div class="field is-grouped wrapper">
            <div class="field is-grouped" style="justify-content: space-between;">
              <div class="is-flex align-items-center mr50">
                  <label class="label">Postal Code</label>
                  <div class="control flex-grow-1 has-icons-right">
                      <input class="input" type="text" value="M5T 2Y8" placeholder="M5T 2Y8">
                      <span class="icon is-small is-right is-fullheight">
                        <img src="img/icons/icon-location.svg" alt="">
                      </span>
                  </div>
              </div>
              <div class="is-flex align-items-center ">
                  <label class="label">Search Radius</label>
                <div class="control">
                  <div class="select is-width-full">
                    <select>
                      <option value="" selected="selected">10 km</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

              <p class="is-flex align-items-center search-button">
                <a href="#" class="has-text-primary">Clear  Results</a>
                  <a class="button is-lg">
                    Search
                </a>
              </p>
          </div>
        </div>
      </section>

      <!-- Section: Location Map -->
      <section class="map-section">
        <div class="map_canvas">
          <gmap-map
            :center="center"
            :zoom="9"
            style="width:100%;  height: 400px;"
          >
            <gmap-marker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                @click="center=m.position"
              ></gmap-marker>
          </gmap-map>
        </div>
      </section>

      <!-- section: Search Results List -->
      <section class="location-search-results">
        <div class="mt0 ml0">
          <div class="results-col is-paddingless is-4-tablet is-4-desktop is-3-widescreen has-background-white">

            <!-- Prev/Next buttons -->

            <nav class="pagination justify-content-between is-hidden-tablet" role="navigation" aria-label="pagination">
                <a class="pagination-previous"></a>
                <a class="pagination-next is-active"></a>
            </nav>

            <!-- 1 -->
            <template v-for="(location, index) in locations">
              <div :class="{'is-active': isSelected == index}" class="result-item is-hidden-mobile location-info" @click="getLocationDetails(location.location_id, location.map_coordinates), isSelected = index">
                <h3 class="store-locality">
                  {{location.location_name}}
                  <span class="store-distance">{{location.distance}} </span>
                </h3>
                <p class="address">
                  <span class="street">{{location.location_address}}</span>
                </p>
              </div>
            </template>


            
            <button class="button btn-order-here is-hidden-tablet is-fullwidth is-primary is-radiusless">Order Here</button>
          </div>
        </div>
      </section>

      <!-- section: selected Location -->
      <section class="selected-location" v-if="isShow">
        <h4 class="section-title title content-box">Selected Location</h4>
        <div class="columns is-multiline content-box mb0 is-borderless">
          <div class="column location-info is-7-tablet is-12-widescreen">
            <div>
              <h3 class="store-locality">
                {{currentLocation.location_name}}
                <span class="store-distance">{{currentLocation.distance}}</span>
              </h3>
              <p class="address">
                <span class="street">
                  {{currentLocation.location_address}}
                </span>
              </p>
            </div>
          </div>
          <div class="column location-info contact is-4-tablet is-12-widescreen">
            <div>
              <h3>Contact</h3>
              <p class="contact-info">
                <template v-for="info in currentLocation.location_contact">
                  <span class="phone">{{info.pno}}</span>
                  <span class="email">{{info.email}}</span>
                </template>
              </p>
            </div>
          </div>

          <!-- Work Hours -->

          <div class="column is-12-tablet is-12-desktop pt0">
            <div class="location-info">
              <h3>{{currentLocation.shop_status}}</h3>
              <ul class="store-hours">
                <li v-for="info in currentLocation.open_hours">
                  <span>{{info.day}}</span>
                  <span>{{info.time}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="columns is-multiline is-marginless">
          <div class="column button-wrapper-direction is-6-tablet is-12-widescreen">
            <a class="button btn-direction is-fullwidth is-radiusless">Directions</a>
          </div>

          <div class="column is-6-tablet is-12-widescreen p0 is-fullwidth">
            
            <router-link :to="{path : '/order', query: { id: `${currentLocation.location_id}` }}" class="button btn-order-here is-fullwidth is-primary is-radiusless">
              Order Here
            </router-link>
          </div>
        </div>
      </section>
  </div>
</template>

<script>
import {eventBus} from '../../main'
export default {
  data() {
    return {
      locations: [],
       currentLocation : [],
       isShow: false,
       isSelected: null,
       center: { lat: 24.488180, lng: 54.354950 },
      markers: [],
      places: [],
      currentPlace: null
    }
  },
  methods: {
    getLocation() {
      return this.$store.getters.getLocations
    },
    getLocationDetails(id, coordinates) {
      var app = this;
      this.$store.dispatch('setLocation', id)
      this.currentLocation = this.locations.find(item => item.location_id == id)
      this.isShow = true;
      var lat_value =  parseFloat(coordinates[0].lat);
      var long_value = parseFloat(coordinates[1].long);
      this.center = { lat: lat_value, lng: long_value }
      this.addMarker(lat_value, long_value)
    },
     setPlace(place) {
      this.currentPlace = place;
    },
    addMarker(lat_value, long_value) {
        const marker = {
          lat: parseFloat(lat_value),
          lng: parseFloat(long_value)
        };
        this.markers.push({ position: marker });
        this.currentPlace = null;
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
    mounted() {
      eventBus.isShow(true)
      this.locations = this.getLocation();
      this.isShow = false;
      var i;
      for (i=0; i< this.locations.length; i++) {
          var lat_value =  parseFloat(this.locations[i].map_coordinates[0].lat);
          var long_value = parseFloat(this.locations[i].map_coordinates[1].long);
          this.addMarker(lat_value, long_value)
      }
      this.center = {
        lat: 43.653225,
        lng: -79.383186
      };
    },
    beforeCreate() {
      document.body.id = "pg-location";
    },
    created() {
      const id = this.$store.getters.getCurrentLocation;
      const app = this;
      if(id != null) {
        this.isShow = true
        const currentLocation = this.$store.getters.getLocations.find(item => item.location_id == id)
        this.currentLocation = currentLocation;
      } else {
        this.isShow = false;
      }
    },
    destroyed() {
      document.body.id = "body"
    },
}
</script>

<style scoped>
.location-info .address {
  max-width: 60%;
}
.location-info {
  cursor: pointer;
}
.vue-map-container {
  height: 100% !important;
}
.location-wrapper {
  position: relative;
  z-index: -1;
}
</style>
