<template>
   <div class="menu-item" @click="getInfo(productData.sku)" ref="productblock" :class="{'is-selected': selected}" >
      <div class="menu-item-thumb">
        <clazy-load src="https://unsplash.it/500">
          <img :src=productData.image alt="image" style="max-width: 130px">
           <div class="preloader" slot="placeholder">
            <img src="../../../static/img/loader-main.gif" style="width: 100px;">
          </div>
        </clazy-load>
      </div>
      <div class="menu-item-desc">
        <div class="item-name"> 
          <slot name="item-name"></slot>
        </div>
        <div class="item-desc">
           <slot name="item-desc"></slot>
        </div>
      </div>
    </div>
</template>

<script>
import {eventBus} from '../../main'
import { VueClazyLoad } from 'vue-clazy-load'
export default {
  props: {
    productData: {}
  },
  data() {
    return {
      selected: false
    }
  },
  components: {
    'clazy-load' : VueClazyLoad
  },
  methods: {
     getInfo(sku) {
     var app = this;

      if(!this.$refs.productblock.classList.contains('is-selected')) {
          var x = document.getElementsByClassName("menu-item");
          [].forEach.call(x, function(el) {
            // console.log(el)
            el.classList.remove("is-selected");
          });
        this.$refs.productblock.classList.add('is-selected')
        app.selected = true;
      } else {
        this.$refs.productblock.classList.remove('is-selected')
        app.selected = false;
      }
       var menuItem, i;
       eventBus.itemSelect(sku,  this.selected)
    
  }
 }
 }
</script>

<style>

</style>
