<template>
 <transition name="router-anim">
  <div class="notification is-danger" ref="alertbox" v-if="isMsgShow || ishidden">
    <button class="delete" @click="close()"></button>
    <slot name="message">{{msg}}</slot>
  </div>
 </transition>
</template>

<script>
export default {
  data() {
    return {
      // isMsgShow: false
      ishidden: false
    }
  },
  props: {
    msg: 'message here',
    isDisplay: true
  },
  methods: {
    close () {
      this.$emit('isHidden');
    }
  },
  computed: {
    isMsgShow () {
      return this.isDisplay
    }
  },
}
</script>

<style scoped>
  .notification {
    max-width: 100%;
    width: 330px;
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    top: 100px;
    z-index: 999;
    left: 0;
    right: 0;
  }

.router-anim-enter-active {
  animation: coming 0.5s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0.5s;
}

@keyframes going {
  from {
   opacity: 1;
   top: 100px;
  }
  to {
    opacity: 0;
    top: 0;
  }
}
@keyframes coming {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 100px;
  }
}
</style>
