<template>
   <!-- <div> -->
        <!-- <input type="number" @change="getInfo(index, id, $event)" min="1" max="10" :value=id> -->
        <!-- <input type="number"  min="1" max="10" @change="getInfo">
    </div> -->
     <div class="quantity-block is-width-xs mb0">
        <button class="button minus" @click="minus(index)" value="-"><img src="../../../static/img/icons/icon-minus.svg" alt="Decrease Quantity"></button>
        <div class="field mb0">
          <div class="control">
            <input type="number" ref='numberctrl' :id="'noControl' + index"  min="1" @change="getInfo(index, id, $event)" :value=qua class=" input is-shadowless">
          </div>
        </div>
      <button class="button plus"   @click="pluse(index)" value="+"><img src="../../../static/img/icons/icon-plus.svg" alt="Increase Quantity"></button>
      </div>
</template>

<script>
export default {
    props: {
        qua: '',
        id: '',
        index: '',
        changeQua: {
            type: Function
        }
    },
    methods: {
        getInfo(index, id, event) {
            this.$emit('changeQua', index, event.target.value)
        },
        minus(index) {

          if(this.$refs.numberctrl.value <= 1) {
             this.dangerNotify();
           } else {
              this.$refs.numberctrl.value--;
              var refvalue = this.$refs.numberctrl.value
              this.$emit('changeQua', index, this.$refs.numberctrl.value);
           }
        },
        pluse(index) {
           this.$refs.numberctrl.value++;
           var refvalue = this.$refs.numberctrl.value
          this.$emit('changeQua', index, this.$refs.numberctrl.value);
        },
        dangerNotify() {
          this.$notify.open({content: 'Item quantity minimum 1', type: 'danger', duration: 1500, placement: 'top-center', icon: 'none'});
        }
    }
}
</script>

<style>

</style>
