<template>
   <!-- Header -->
    <header class="header" id="top-bar">
      <side-menu :isOpen=isOpen ></side-menu>
      <!-- Header Navigation Block -->
      <nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">

            <a @click="openMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
                <img src="../../../static/img/icons/icon-hamburger.svg" alt="Open Nav">
            </a>

            <a class="navbar-item login-link" @click="openModal('login-modal')">Log In</a>
          </div>		  

          <div class="navbar-end">
                  <ul class="is-flex">
                    <li class="navbar-item logo">
                    <router-link to="/">
                        <img src="../../../static/img/logo-williams.png" alt="Williams Logo">

                      </router-link>
                    </li>
                  </ul>
            </div>
        </nav>
        <div class="page-title" v-if="isShow">
		  	  <h1 class="title">{{pageName}}</h1>
	    	</div>
    </header>
</template>

<script>
import sideMenu from './side-menu.vue';
import {eventBus} from  '../../main'
export default {
  data() {
    return {
      isOpen : false,
      isShow: false,
      pageName: 'page'
    }
  },
  components: {
    'sideMenu' : sideMenu
  },
  methods: {
    openMenu() {
      this.isOpen =! this.isOpen
    },
    openModal(modal) {
      eventBus.isModalShow(modal)
    }
  },
  created() {
    eventBus.$on('isClose', (data)=> {
      // console.log('change no', data)
      this.isOpen = data
    }),
    eventBus.$on('isShow', (data)=> {
      // console.log('change no', data)
      this.isShow = data
    }),
    eventBus.$on('isHide', (data)=> {
      // console.log('change no', data)
      this.isShow = data
    })
  },
  mounted() {
    // this.pageName = this.$router.currentRoute
      this.pageName = this.$route.name
  },
  watch: {
   $route (to, from){
      this.pageName = to.name
    }
  },
}
</script>

<style>

</style>
