<template>
    <!-- Menu Type Section -->
    <section class="type-menu">
      <div class="container is-width-1280">
        <div class="is-flex">
          <nav>
            <ul class="justify-content-center">
                <li v-for="category in productCategory"><a class="navlink" @click="getItem(category.catId, $event)">{{category.catName}}</a></li>
                <li><a class="navlink" @click="getItem(null, $event)">all</a></li>
            </ul>

            <div class="select">
              <select>
                <option value="#" selected="selected">Sandwich</option>
                <option value="#">Designed by Us</option>
                <option value="#">Designed by You</option>
                <option value="#">Kids</option>
                <option value="#">Pizza</option>
                <option value="#">Smoothies</option>
                <option value="#">Drinks</option>
                <option value="#">NZ Natural</option>
                <option value="#">Frozen Yogurt</option>
              </select>
            </div>
          </nav>

          <div class="shopping-cart">
            <router-link to='/my-cart' class="badge is-badge-left" :data-badge=totalItem.length>
            <img src="../../../static/img/icons/icon-cart.svg" alt="Shopping Cart">
            </router-link>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
export default {
  props: {
    changeItem: {
      type: {
        Function
      }
    }
  },
  data() {
    return {
      productCategory: ''
    }
  },
  methods: {
    getItem(value, element) {
      this.$emit('changeItem', value);
      if(!element.target.classList.contains("is-active")) {
         var x = document.getElementsByClassName("navlink");
          [].forEach.call(x, function(el) {
            // console.log(el)
            el.classList.remove("is-active");
          });
        element.target.classList.add("is-active")
      } 
    },
    hello () {
      alert();
    }
  },
  computed: {
    totalItem () {
      return this.$store.getters.getCartproduct
    }
  },
  mounted() {
    // this.totalItem = this.$store.getters.getCartproduct
     this.productCategory = this.$store.getters.getProductCategory;
   
  }
}
</script>

<style>

</style>
