<template>
  <!-- FlyIn Menu -->
<div id="mainNavBar" class="offcanvas-menu" :class="{'is-active':isOpen}">
	<ul>
		<li><a  href="#" role="button" class="navbar-burger close"  
			    aria-label="menu" 
			    aria-expanded="false" 
			    data-target="mainNavBar">
					<img @click="closeMenu()" src="../../../static/img/icons/icon-cross-white-close.svg" alt="Close Nav" />
				</a></li>
      <router-link to="/order?id=1" tag="li" active-class="is-active" exact><a>Order</a></router-link>
      <router-link to="/" tag="li" active-class="is-active" exact><a>Store Locations</a></router-link>
      <router-link to="/help" tag="li" active-class="is-active" exact><a>Help</a></router-link>
      <!-- <router-link to="/myaccount" tag="li" active-class="is-active" exact><a>My Account</a></router-link> -->
     	<!-- <li class="signout-info has-text-centered"> 
      	<div class="logged-in-as">Logged in as Emily</div>
         <router-link to="/"  active-class="is-active" exact>
          Sign Out
          </router-link>
     	</li> -->
	</ul>
</div>
</template>

<script>
import {eventBus} from '../../main'
export default {
  props: {
    isOpen: '',
    openMenu: {
      type: Function
    }
  },
  data() {
    return {
      
    }
  },
  methods: {
    closeMenu() {
      eventBus.isClose(false); 
    }
  },
    watch: {
    '$route' (to, from) {
       eventBus.isClose(false); 
    }
  },

 
}
</script>

<style>

</style>
