<template>
  <div>
      
      <!-- Main Section -->
      <div class="main-wrapper order-page" id="main">
      <order-menu></order-menu>
      </div>
  </div>
</template>

<script>

export default {
  name: 'mainComponents',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
