<template>
  <div id="app">
     <main-header></main-header>
     <div class="main-wrapper" id="main">
       <transition name="router-anim" appear>
          <router-view/>
       </transition>
     </div>
     <!-- login modal -->
    <div id="login-modal" class="modal login-modal">
      <div class="modal-background"  @click="isModalClose()"></div>
      <div class="modal-content is-xs">
        <header class="modal-card-head">
          <h2 class="modal-card-title">Log In to Continue</h2>
          <button @click="isModalClose()" class="delete" aria-label="close"><img src="../static/img/icons/icon-close.svg" alt="Close"></button>
        </header>
         <form @submit.prevent="login()">
          <section class="modal-card-body">
          
                <p class="has-text-centered text mt20 mb30">Please log in or sign up to add items to cart.</p>
              
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input @input="$v.loginEmail.$touch()" :class="{'is-danger': $v.loginEmail.$error}" class="input" type="email" v-model="loginEmail" placeholder="email@druxys.com">
                  </div>	
                   <p class="help is-danger" v-if="!$v.loginEmail.email">This email is invalid</p>
                   <p class="help is-danger" v-if="!$v.loginEmail.required">This field is required</p>
                </div>

                <div class="field">
                  <label class="label is-flex justify-content-between"><span>Password</span><span><a @click="isModalShow('forgot-password-modal')" class="has-underline" modal="forgot">Forgot Password</a></span></label>
                  <div class="control">
                    <input @input="$v.loginPassword.$touch()" :class="{'is-danger': $v.loginPassword.$error}" class="input" type="password" v-model.trim="loginPassword" placeholder="email@druxys.com">
                  </div>	
                   <p class="help is-danger" v-if="!$v.loginPassword.minLength">This password must have at least {{$v.loginPassword.$params.minLength.min}} letters.</p>
                   <p class="help is-danger" v-if="!$v.loginPassword.required">This field is required</p>
                </div>

                <p class="buttons is-flex-column mt50">
                  <a class="button is-fullwidth btn-google">
                    <span class="icon">
                      <img src="../static/img/icons/icon-google.svg" alt="Login with Google">
                    </span>
                    Continue with Google
                  </a>
                  <a class="button is-fullwidth btn-facebook">
                    <span class="icon">
                      <img src="../static/img/icons/icon-facebook.svg" alt="Login with Facebook">
                    </span>
                    Continue with Facebook
                  </a>
                </p>

                <p class="has-text-centered text mt20 mb10">Don't have an account?</p>
                <p class="has-text-centered text mb30">
                  <a @click="isModalShow('signup-modal')"><span class="has-text-primary has-underline">Sign up</span></a> now.</p>
            
          </section>
          <footer class="modal-card-foot">
            <button disabled :disabled="$v.loginEmail.$error || $v.loginPassword.$error" type="submit" class="button is-primary btn-complete has-text-semibold-18 justify-content-center">
              <span>Login</span>
            </button>
          </footer>
         </form>
      </div>
    </div>

    <!-- Model: forgot password  -->
    <div id="forgot-password-modal" class="modal forgot-password-modal" >
      <div class="modal-background"></div>
      <div class="modal-content is-xs">
        <header class="modal-card-head mb30">
          <h2 class="modal-card-title has-text-primary">Forgot Password</h2>
          <button   @click="isModalClose()" class="delete" aria-label="close"><img src="../static/img/icons/icon-close.svg" alt="Close"></button>
        </header>
      
          <section class="modal-card-body">

            <p class="has-text-centered mb50 recover-password-text">Please enter your email to recover your password.</p>

            <div class="columns is-multiline mb50">
              <div class="column">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="email@druxys.com">
                  </div>
                </div>
              </div>
            </div>

          </section>
          <footer class="modal-card-foot">
            <a class="button is-primary btn-complete has-text-semibold-18 justify-content-center">
              <span>Submit</span>
            </a>
          </footer>
       
      </div>
    </div>

    <!-- Model: Sign-Up  -->
    <div id="signup-modal" class="modal signup-modal">
      <div class="modal-background"></div>
      <div class="modal-content is-xs">
       
        <header class="modal-card-head mb30">
          <h2 class="modal-card-title has-text-primary">Sign Up</h2>
          <button @click="isModalClose()" class="delete" aria-label="close"><img src="../static/img/icons/icon-close.svg" alt="Close"></button>
        </header>
        <form @submit.prevent="signUp()">
          <section class="modal-card-body">
            
            <div class="columns is-multiline">
              <div class="column is-12-tablet is-6-desktop">
                <div class="field">
                  <label class="label">First Name</label>
                  <div class="control">
                    <input @input="$v.fname.$touch()" v-model="fname" :class="{'is-danger': $v.fname.$error}" class="input" type="text" placeholder="Emily">
                  </div>
                  <p class="help is-danger" v-if="!$v.fname.required">This field is required</p>
                  <p class="help is-danger" v-if="!$v.fname.alpha">Please enter only alphabet characters</p>
                </div>
              </div>
              <div class="column is-12-tablet is-6-desktop is-multiline">
                <div class="field">
                  <label class="label">Last Name</label>
                  <div class="control">
                    <input v-model="lname" :class="{'is-danger': $v.lname.$error}" class="input" type="text" placeholder="Miller">
                  </div>
                   <p class="help is-danger" v-if="!$v.lname.required">This field is required</p>
                   <p class="help is-danger" v-if="!$v.lname.alpha">Please enter only alphabet characters</p>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input @blur="$v.passwd.$touch()" v-model="passwd" :class="{'is-danger': $v.passwd.$error}" class="input" type="password" placeholder="•••••••••">
                  </div>
                   <p class="help is-danger" v-if="!$v.passwd.minLength">This password must have at least {{$v.passwd.$params.minLength.min}} letters.</p>
                   <p class="help is-danger" v-if="!$v.passwd.required">This field is required</p>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <label class="label">Re-enter Password</label>
                  <div class="control">
                    <input @blur="$v.cpasswd.$touch()" v-model="cpasswd" :class="{'is-danger': $v.cpasswd.$error}" class="input" type="password" placeholder="•••••••••">
                  </div>
                   <p class="help is-danger" v-if="$v.cpasswd.$anyError">Confirm password not same as password</p>
                </div>
              </div>
            </div>
            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <label class="label">Phone Number</label>
                  <div class="control">
                    <input v-model="pno" :class="{'is-danger': $v.pno.$error}" class="input" type="phone" placeholder="123 456 7890">
                  </div>
                   <p class="help is-danger" v-if="!$v.pno.required">This field is required</p>
                   <p class="help is-danger" v-if="!$v.pno.numeric">Please enter number</p>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <label class="label">Date of Birth</label>
                  <div class="columns is-mobile">
                    <div class="column">
                      <div class="control">
                        <input v-model="day" :class="{'is-danger': $v.day.$error}" class="input is-small" type="text" placeholder="DD">
                      </div>	
                      <p class="help is-danger" v-if="!$v.day.required">This field is required</p>
                      <p class="help is-danger" v-if="!$v.day.minLength || !$v.day.maxLength">This field is invalid</p>
                    </div>
                    <div class="column">
                      <div class="control">
                        <input v-model="month" :class="{'is-danger': $v.month.$error}" class="input is-small" type="text" placeholder="MM">
                      </div>	
                      <p class="help is-danger" v-if="!$v.month.required">This field is required</p>
                      <p class="help is-danger" v-if="!$v.month.minLength || !$v.month.maxLength">This field is invalid</p>
                    </div>
                    <div class="column">
                      <div class="control">
                        <input v-model="year" :class="{'is-danger': $v.year.$error}" class="input is-small" type="text" placeholder="YYYY">
                      </div>	
                      <p class="help is-danger" v-if="!$v.year.required">This field is required</p>
                       <p class="help is-danger" v-if="!$v.year.minLength || !$v.year.maxLength">This field is invalid</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <input class="is-checkradio" id="newslettercheckbox" type="checkbox" name="newslettercheckbox" checked="checked"><label for="newslettercheckbox">Opt-in for marketing emails</label>
                </div>
              </div>
            </div>

          </section>
          <footer class="modal-card-foot">
            <button 
                  type="submit" class="button is-primary btn-complete has-text-semibold-18 justify-content-center">
              <span>Sign Up</span>
            </button>
          </footer>
           </form>
      </div>
    </div>
    
  </div>
</template>

<script>
import {eventBus} from  './main'
import mainHeader from './components/header/main-header';
import { required, email, minLength, alpha, sameAs, numeric, maxLength } from 'vuelidate/lib/validators'
export default {
  name: 'App',
  data() {
    return {
      isShowModal: false,
      loginEmail: '',
      loginPassword: null,
      fname: '',
      lname: '',
      pno: '',
      passwd: '',
      cpasswd: '',
      day: '',
      year: '',
      month: ''
    }
  },
   validations: {
    loginEmail: {
      required,
      email
    },
    loginPassword: {
      required,
      minLength: minLength(6)
    },
    fname: {
       required,
       alpha
    },
      lname:{
       required,
       alpha
    },
      pno: {
       required,
       numeric
    },
      passwd: {
       required,
       minLength: minLength(6)
    },
      cpasswd: {
       sameAs: sameAs('passwd')
    },
      day: {
       required,
       numeric,
       minLength: minLength(2),
       maxLength: maxLength(2)
    },
      year:{
       required,
       numeric,
       maxLength: maxLength(4),
       minLength: minLength(4)
    },
      month: {
       required,
       numeric,
       minLength: minLength(2),
        maxLength: maxLength(2),
    }

  },
  components: {
    'main-header' : mainHeader
  },
  methods: {
    // closeModal() {
    //   eventBus.isModalClose();
    // },
    isModalShow(modal) {
      // eventBus.isModalShow();
      console.log('id:', modal)
      var modalList, i;
       modalList = document.getElementsByClassName('modal');
        for (i = 0; i < modalList.length; i++) {
          modalList[i].className = modalList[i].className.replace(" is-active", "")
        }
      document.getElementById(modal).className += ' is-active';
    },
     isModalClose() {
      var modalList, i;
       modalList = document.getElementsByClassName("modal");
        for (i = 0; i < modalList.length; i++) {
          modalList[i].className = modalList[i].className.replace(" is-active", "")
        }
    },
    login() {
      alert('login')
    },
    signUp() {
      alert('signUp')
    }
    
  },
  created() {
     eventBus.$on('isModalShow', (modal)=> {
       console.log('change no', modal)
       this.isModalShow(modal)
      // this.isShowModal = true
    })
     eventBus.$on('isModalClose', ()=> {
      // console.log('change no', data)
      this.isModalClose()
    })
  },
  mounted() {
    this.$v.$touch() 
  }
}
</script>
<style scoped>
#nprogress .bar {
  background: #6eb43f !important;
}
.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: 0s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0s;
}

@keyframes going {
  from {
   opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

